<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dark.css" rel="stylesheet" />
    <link href="~/Content/font-icons.css" rel="stylesheet" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/timepicker.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/LoginStyle.css")
    @Scripts.Render("~/bundles/modernizr")
  
  
</head>
<body>
    <!-- Header
            ============================================= -->
    <header id="header" class="dark full-header">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a  class="standard-logo"><img src="~/Content/logo.png" alt=""></a>
                  
                </div><!-- #logo end -->
                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu" class="logueado">
                    <ul>
                       
                        <li>   @Html.ActionLink("Listado de Incidencias", "ListadoIncidencias", "Home") </li>
                        <li>   @Html.ActionLink("Agregar Usuario", "AgregarUsuario", "Home") </li>
                        <li>   @Html.ActionLink("Registro de Incidencias", "RegistroIncidencias", "Home") </li>
                        <li><a href="index.html"><div>Reportes</div></a></li>
                        <li><a href="index.html"><div>Cerrar</div></a></li>
                    </ul>
                </nav><!-- #primary-menu end -->

            </div>

        </div>

    </header><!-- #header end -->
    <!-- LOGIN FORM -->

    <div id="id01" class="modal">

        <form class="modal-content animate" action="/action_page.php">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="https://imageog.flaticon.com/icons/png/512/17/17004.png?size=1200x630f&amp;pad=10,10,10,10&amp;ext=png&amp;bg=FFFFFFFF" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit" style="background-color:#4CAF50;">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>
 
    <script>
// Get the modal
        
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
    </script>

    <div class="container body-content">
        @RenderBody()
        <hr />
 
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)




    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">

            <div class="container clearfix">

                <div class="col_half">
                    Copyrights &copy; 2018 Derechos Reservados Universidad Hispanoamericana.<br>
                </div>

                <div class="col_half col_last tright">
                    <div class="fright clearfix">
                        <a href="https://es-la.facebook.com/uhispanoamericana/" class="social-icon inline-block si-small si-light si-rounded si-facebook" target="_blank">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="https://twitter.com/universidaduh?lang=es" class="social-icon inline-block si-small si-light si-rounded si-twitter" target="_blank">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/uhispanoamericana/" class="social-icon inline-block si-small si-light si-rounded si-instagram" target="_blank">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </a>
                    </div>

                    <div class="clear"></div>

                    <i class="icon-envelope2"></i> info@uh.ac.cr <span class="middot">&middot;</span> <i class="icon-headphones"></i> +506 2241-9090 <span class="middot">&middot;</span> <i class="icon-world"></i> http://www.uh.ac.cr
                </div>

            </div>

        </div><!-- #copyrights end -->

    </footer><!-- #footer end -->
</body>
</html>
